@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner List</h4>
                        <p class="card-subtitle mb-4">
                            You can manage your banner here. You can add and edit banner from this Page.
                        </p>
                        <div class="table-responsive">

                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Video Description</th>
                                        <th>Video Url</th>
                                        <th>Operatıons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.BannerId</td>
                                            <td>@item.BannerTitle.Substring(0, Math.Min(10, @item.BannerTitle.Length))</td>
                                            <td>@item.BannerDescription.Substring(0, Math.Min(10, @item.BannerDescription.Length))</td>
                                            <td>@item.BannerVideoDescription.Substring(0, Math.Min(10, @item.BannerVideoDescription.Length))</td>
                                            <td>@item.BannerVideoUrl.Substring(0, Math.Min(10, @item.BannerVideoUrl.Length))</td>
                                            <td>
                                                <a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId" class="btn btn-outline-warning">Update</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            @foreach (var item in Model)
                            {
                                @if (item.BannerId != null)
                                {
                                    <a href="/Admin/AdminBanner/CreateBanner" class="btn btn-outline-info" style="display: none;">Add Banner</a>
                                }
                                else
                                {
                                    <a href="/Admin/AdminBanner/CreateBanner" class="btn btn-outline-info">Add Banner</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

